
/* ======= Carrito ======= */
#carrito {
    position: fixed;
    top: 80px;
    right: 20px;
    width: 250px;
    background-color: #fff8f0;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}

.item-carrito {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.item-carrito button {
    background-color: #ff6347;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 2px 6px;
}

.item-carrito button:hover {
    background-color: #e5533d;
}

.total-carrito {
    font-weight: bold;
    margin-top: 10px;
}

#carrito button:last-child {
    margin-top: 10px;
    width: 100%;
}

.carrito-link {
    position: relative;
    display: inline-block;
}

.icono-carrito {
    width: 32px;
    height: 32px;
}

#contador-carrito {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #28a745; /* verde */
    color: white;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
}