
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* =========================
    TÍTULO
========================= */
h1 {
  background-color: #084a2f;
  padding: 16px;
  width: 600px;
  border-radius: 10px;
  color: #eee;
  margin: 20px auto 10px auto;
  text-align: center;
  letter-spacing: 5px;
}

/* =========================
    CONTENEDOR
========================= */
.carrito-contenedor {
  display: flex;
  justify-content: center;
}

/* =========================
    CARRITO
========================= */
#carrito {
  width: 600px;
  background: #ffffff;
  border: 2px solid #084a2f;
  border-radius: 10px;
  padding: 15px;

  display: flex;
  flex-direction: column;
}

/* =========================
    ITEMS
========================= */
.item-carrito {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #083909d3;
}

.info {
  flex: 1;
}

/* =========================
    BOTONES DE CANTIDAD
========================= */
.item-carrito .btn-decrementar,
.item-carrito .btn-incrementar {
  background: #156b1cab;
  font-weight: bold;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  margin: 0 5px;
}

/* =========================
    BOTÓN ELIMINAR (X)
========================= */
.item-carrito button {
  color: white;
  cursor: pointer;
  border: none;
  background-color: #df4508;
  border-radius: 6px;
}

/* =========================
    BOTONES GENERALES DEL CARRITO
========================= */
#carrito button {
  cursor: pointer;
}

/* =========================
    TOTAL
========================= */
.total-carrito {
  font-size: larger;
  background-color: #59bb207e;
  border-radius: 10px;
  margin: 15px;
  text-align: center;
  padding: 5px;
  font-weight: bold;
}

/* =========================
    MENSAJE VACÍO
========================= */
.mensaje-vacio {
  text-align: center;
  font-size: 20px;
  padding: 20px;
  letter-spacing: 5px;
}

/* =========================
    BOTÓN VACÍAR
========================= */
.btn-vaciar {
  display: block;
  margin: 20px auto 10px auto;
  padding: 10px 15px;
  background-color: #f90e21d8;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-vaciar:hover {
  background-color: #c1121f;
}